@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.home{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("./Home-images/Home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(12,11,9,0,0.6);
    color: #fff;
    padding: 10px 150px;
}

nav .logo h1{
    text-transform: uppercase;
    color: #b80101;
    font-size: 25px;
}


nav .logo h1 span{
    color: #fff;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    text-transform: lowercase;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s ease;
}

nav ul li a:hover{
    color: #b80101;
}

nav .social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .social a{
    background: transparent;
    border: 2px solid #b80101;
    height: 30px;
    width: 30px;
    display: block;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
}

nav .social a:hover{
    background: #9f1d1d92;
}

nav .social a i{
    font-size: 18px;
    color: #b80101;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: -50px;
}

.banner h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 3px solid #b80101;
    padding: 20px;
    font-size: 30px;
}

.banner h2 span {
    color: #b80101;
}

.banner h3 {
    color: #fff;
    padding: 20px;
    font-weight: 500;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
}

.special {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.special h1{
    background-color: #b80101;
    color: black;
    padding: 10px;
    font-size: 12px;
    word-spacing: 5px;
    text-transform: uppercase;
    position: absolute;
    left: 860px;
    top: 550px;
}

.special .special-box {
    height: 220px;
    width: 160px;
    background: rgba(0,0,0,0.6); 
    margin-top: -150px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border: 2px solid #b80101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #b80101;
}

.special-box h2{
    color: #b80101;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    text-transform: capitalize;
}

.special-box h3{
    color: #b80101;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
}

/* ---- Contact Section ---- */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 20px;
}


.panel {
    height: 450px;
    width: 500px;
    padding: 10px;
}

.panel h3{
    color: #b80101;
    text-transform: uppercase;
    padding: 3px;
}

.address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    height: 200px;
    width: 230px;
    border: 2px solid #b80101;
    background: rgba(12,11,9,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b80101;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: pointer;
}

.box i{
    font-size: 25px;
    padding: 10px;
    color: #fff;
}

.box-1 h1{
    font-size: 15px;
    text-transform: uppercase;
}

.box-1 h2{
    font-size: 20px;
    padding: 2px;
} 

.box-2 i{
    font-size: 40px;
}

.box-2 h3{
    font-size: 15px;
    padding-top: 10px;
}

.box:hover{
    transform: scale(0.9);
}

.contact{
    background: rgba(12,11,9,0.6);
    padding: 10px;
    border: 2px solid #b80101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 420px;
}

.form-group{
    padding: 10px;
}

input {
    height: 30px;
    width: 300px;
    padding: 5px;
    font-size: 15px;
    background: #b8010173;
    color: #fff;
    border: none;
    outline: none;
}

textarea{
    background: #b8010173;
    border: none;
    resize: none;
    color: #fff;
    padding: 10px;
    outline: none;
}

.btn-send{
    padding: 8px 30px;
    background-color: transparent;
    border: 2px solid #b80101;
    outline: none;
    color: #b80101;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-send:hover{
    background-color: #b80101;
    color: #fff;
}